# Database configuration
DATABASE_URL=postgresql://tucano_yfinance:tucano_yfinance@db:5432/tucano_yfinance

# Default API User and Token (Seeded on startup if not present in the DB)
DEFAULT_API_USERNAME=admin
DEFAULT_API_TOKEN=hardtofindapitoken123456

# Server configuration
HOST=0.0.0.0
PORT=8009
DEBUG=True
